.perfil img {
    border-radius: 100%;
    width: 40vh;
    height: 40vh;
    margin: 10vh;
    margin-bottom: 0;
}

.descricao {
    margin: 15vh;
}

.descricao li {
    list-style-type: none;
    margin: 2vh;
}

.pokedex {
    display: flex;
}

.pokedex h1 {
    margin: 10vh;
}