:root {
    --azul:  rgb(17, 173, 224);
    --sombra: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container-home {
    width: 100%;
    height: 200vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-color:white;
    padding: 30px 0;
}
.numero {
    color: gray;
}
.nome {
    font-size: 20px;
}
.pokeCard {
    box-shadow: var(--sombra);
    margin: 20px;
    background-color: white;    
    padding: 10px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 0;
    height: 25vh;
}
.pokeCard:hover {
    background-color:rgb(232, 236, 175);
    cursor: pointer;
}
.pokeCard:active {
    background-color:rgb(189, 189, 189);
}
.pokeCard img {
    background-color: rgba(189, 189, 189, 0.5);
    width: 150px;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(255, 255, 255, 0.9);
    justify-content: center;
    margin: 0 100px;
    height: 100%;
    width: 60%;
    position: relative;
    padding: 30px 0;
}

.botoesPaginacao {
    display: flex;
    border: 20px solid white;
}

.botoesProximoAnterior {
    border:none;
}
.botoesProximoAnterior:hover {
    border:none;
    box-shadow: var(--sombra);
}

.botoesProximoAnterior:nth-child(1) { 
    margin-top: 50px;  
    margin-left: 500px;
    padding: 20px;
    background-color: lightgreen;
    cursor: pointer;
}

.botoesProximoAnterior:nth-child(2) { 
    margin-top: 50px;  
    padding: 20px;
    background-color: lightblue;
    cursor: pointer;
}

.pagina {
    display: center;
    margin-left: 500px;
    margin-top: 30px;
}